.footer
    display: flex
    justify-content: center
    margin-top: 120px
    &__title
        font-family: Open Sans Condensed Light
        font-weight: 300
        font-size: 48px
        line-height: 65px
        text-align: center
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #fff
        margin-bottom: 100px
    &__maecenas
        display: flex
        margin-bottom: 80px
    &__contact
        display: flex
        flex-direction: column
        max-width: 255px
        margin-right: 125px
    &__phone
        font-family: Open Sans Condensed Bold
        font-weight: bold
        font-size: 16px
        line-height: 22px
        letter-spacing: 0.05em
        text-transform: uppercase
        color: #FFFFFF
        margin-bottom: 25px
    &__wrap
        max-width: 730px
    &__block-one
        display: flex
        // justify-content: space-between
        margin-bottom: 40px
    &__input-group
        display: flex
        flex-direction: column
    &__input-group--one
        margin-right: 30px
    &__input
        width: 180px
        height: 35px
        padding: 0 0 0 15px
        border: 1px solid #616161
        background: #444444
        outline: none
        color: #fff
    &__input-top
        margin-bottom: 30px
    &__input--primary
        width: 310px
        height: 100px
        padding: 0 0 65px 15px
    &__block-two
        display: flex
        justify-content: space-between
    &__policy
        max-width: 390px
        font-family: Open Sans
        font-size: 12px
        line-height: 150%
        color: #989898
    &__btn
        font-family: Open Sans Condensed Bold
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #FFFFFF
        width: 190px
        height: 50px
        padding: 0
        border: none
        background: #D1A954
        cursor: pointer
    &__dev
        display: flex
        justify-content: space-between
        align-items: flex-end
        height: 48px
        margin-bottom: 30px
        border-top: 1px solid #565656
    &__text
        font-family: Open Sans
        font-size: 12px
        line-height: 150%
        text-align: right
        color: #989898
::placeholder
        color: #989898
        font-family: Open Sans
        font-weight: 600
        font-size: 12px
        line-height: 150%
