.header
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url('../img/hero.png') no-repeat center / cover
    height: 1045px
    color: #fff
    padding-top: 50px
    &__wrap
        display: flex
        justify-content: center
    &__wrapper
        display: flex
        margin-top: 190px
        align-items: center
    &__content
        max-width: 540px
        height: 296px
        display: flex
        flex-direction: column
    &__title
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 64px
        line-height: 87px
        letter-spacing: 0.1em
        text-transform: uppercase
    &__text
        font-family: Open Sans
        font-size: 14px
        line-height: 150%
        margin: 50px 0
    &__button
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 18px
        line-height: 25px
        // display: flex
        // align-items: center
        // justify-content: center
        text-align: center
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #fff
        text-decoration: none
        border: none
        background: #D1A954
        max-width: 160px
        padding: 12px 47px
    &__slider-item
        width: 100%
        height: 510px
        padding-right: 20px
    &__slider-img
        position: relative
        width: 350px
        height: 490px
        object-fit: cover
        object-position: center
    &__slider-img::before
        content: ""
        position: absolute
        z-index: 2
        top: 20px
        left: 20px
        display: block
        width: 100%
        height: 100%
        background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85))
    &__img-primary
        position: relative
        z-index: 5
        width: 100%
        height: auto
    &__img-secondary
        position: absolute
        z-index: 1
        top: 20px
        left: 20px
        width: 100%
        height: auto
.menu
    display: flex
    align-items: center
    justify-content: space-between
.nav
    display: flex
    align-items: center
    &__item
        text-decoration: none
        color: #fff
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.1em
        text-transform: uppercase
        margin-right: 63px
.contact
    border-bottom: 2px solid #D1A954
    &__phone
        text-decoration: none
        color: #fff
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-align: right
        letter-spacing: 0.05em
        text-transform: uppercase
.social
    background: rgba(51, 51, 51, 0.75)
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    justify-content: flex-end
    align-items: center
    position: fixed
    top: 0
    left: 0
    bottom: 0
    max-width: 150px
    z-index: 999
    overflow: hidden
    &__title
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #C4C4C4
        transform: rotate(-90deg)
        width: 440px
        display: flex
        align-items: center
    &__title::before
        content: ''
        width: 80px
        height: 3px
        background-color: #C4C4C4
        margin-right: 40px
    &__link
        display: flex
        align-items: center
        justify-content: center
        margin-top: 30px
    &__icon:hover
        filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg) brightness(96%) contrast(104%)
.youtube
    margin-bottom: 86px
.instagram
    margin-top: 250px

//Slider
.slick-list
    overflow: hidden
.slick-track
    display: flex
.header__slider
    position: relative
.header__slider .slick-arrow
    position: absolute
    top: 100%
    margin: 35px 0 0 0
    z-index: 10
    font-size: 0
    width: 108px
    height: 25px
    border: none
.header__slider .slick-arrow.slick-prev
    left: 0
    background: url('../img/prev.png') 0 0 / 100% no-repeat
    cursor: pointer
.header__slider .slick-arrow.slick-next
    right: 0
    background: url('../img/next.png') 0 0 / 100% no-repeat
    cursor: pointer
.header__wrap-slider
    width: 370px
    margin: 0 auto



        
        
