.header
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url('../img/hero.png') no-repeat center / cover
    height: 1045px
    color: #fff
    padding-top: 50px
    &__wrap
        display: flex
        justify-content: center
.menu
    display: flex
    align-items: center
    justify-content: space-between
.nav
    display: flex
    align-items: center
    &__item
        text-decoration: none
        color: #fff
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.1em
        text-transform: uppercase
        // margin-right: 63px
.contact
    border-bottom: 2px solid #D1A954
    &__phone
        text-decoration: none
        color: #fff
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-align: right
        letter-spacing: 0.05em
        text-transform: uppercase
.social
    background: rgba(51, 51, 51, 0.75)
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    justify-content: flex-end
    align-items: center
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 150px
    z-index: 999
    overflow: hidden
    &__title
        font-family: Open Sans Condensed
        font-weight: bold
        font-size: 18px
        line-height: 25px
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #C4C4C4
        transform: rotate(-90deg)
        width: 440px
        display: flex
        align-items: center
    &__title::before
        content: ''
        width: 80px
        height: 3px
        background-color: #C4C4C4
        margin-right: 40px
    &__link
        display: flex
        align-items: center
        justify-content: center
        margin-top: 30px
    &__icon:hover
        filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg) brightness(96%) contrast(104%)
.youtube
    margin-bottom: 86px
.instagram
    margin-top: 250px


        
        
