.staging
    margin: 150px 0 150px
    &__title
        font-family: Open Sans Condensed Light
        font-weight: 300
        font-size: 48px
        line-height: 65px
        text-align: center
        letter-spacing: 0.1em
        text-transform: uppercase
        color: #FFFFFF
        margin-bottom: 100px
    &__wrap
        margin-left: 150px
        max-width: 1750px
.slick-list
    overflow: hidden
.slick-track
    display: flex
.staging__slider
    position: relative
.staging__item
    height: 550px